.galllery_hero {
    padding-top: 130px;
    padding-bottom: 130px;
    background: #fcb513;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 70px; */
}

.galllery_hero-text h2 {
    text-align: center;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #24272E;
}

/* =================Subscribe-Start============== */
.subdcribe_area {
    background: #24272E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;


}


.subscribe_text h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    color: #FFFFFF;
}

.subscribe_text span {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #fcb513;
}

.subscribe_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 184px;

}

.subcribe_input {
    margin-right: 25px;
}

.subcribe_input input {
    width: 500px;
    height: 50px;
    padding: 30px 30px;
    outline: none;
    border: none;



}

.subcribe_input input:focus {
    outline: none;
    border: none;

}

.subscribe_btn button {
    outline: none;
    border: none;
    background-color: #fcb513;
    border: 1px solid #fcb513;
    padding: 18px 38px;
    transition: .2s all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
}

.subscribe_btn button:hover {
    background-color: #24272E;
    border: 1px solid #fcb513;
    color: #FFFFFF;
}

/* =================Subscribe-end============== */

/* ==============Retail_service start============ */
.retail-tab {
    background: #24272E;
    padding-top: 65px;
    padding-bottom: 65px;
}


/* ==============Retail_service end============ */
.tab_area {
    background: #24272E;
    padding-top: 65px;
    padding-bottom: 65px;
}

.subdcribe_area_retail {
    background: #fcb513;
    padding-top: 60px;
    padding-bottom: 60px;
}

.subdcribe_area_retail .subscribe_text span {
    color: #24272E;
}

.subdcribe_area_retail .subscribe_btn button {
    background: #24272E;
    color: #fcb513;
}

.subdcribe_area_retail .subscribe_btn button:hover {
    border: 1px solid #24272E;
    background: transparent;
    color: #24272E;
}

.retalil-tab-text h2 {
    font-weight: 400;
    font-size: 44px;
    line-height: 70px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}


.icon-gap {
    margin-left: -20px !important;
}

.tab_area .nav-link {
    text-align: left;
    background: transparent;
    border-left: none;
    border-radius: none;
    border-left: none;
    border-right: none;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #fff;
    font-family: 'Anton', sans-serif !important;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    transition: .2s all ease;

}

.tab_area .nav-link:hover {
    color: #fcb513;
}

.tab_area .nav-link.active {
    color: #fcb513;
}

/* .tab_img img {
    width: 640px;
    height: 640px;
} */

.tab_content_text {
    background: #1D1F25;
    color: #ffff;
    padding: 30px;
}

.tab_content_text h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.mr-30{
    margin-right: 30px;
}

.tab_content_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}
.tab_content_first_text_image{
    display: flex;
    justify-content: space-between;
}

.tab_content_first_text{
    width: 50%;
}

.advertise_list {
    margin-bottom: 30px;
}

.advertise_list li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.icon-color {
    color: #fcb513;
}


/* ==============retail-content============= */
@media only screen and (max-width: 375px) {

    .tab_content_first_text_image{
        display: flex;
        flex-direction: column;
    }

    .tab_content_first_text {
        width: 100%;
        margin-bottom: 30px;
    }

    .galllery_hero {
        padding-top: 60px;
        padding-bottom: 60px;

    }

    .galllery_hero-text h2 {
        font-size: 30px;
        line-height: 30px;

    }

    .retalil-tab-text h2 {
        font-size: 30px;
        line-height: 40px;

    }

    .tab_img img {
        height: auto;
    }

    .tab_content_text h2 {
        font-size: 30px;
        line-height: 40px;

    }

    .subscribe_text h2 {
        font-size: 40px;
        line-height: 50px;

    }

    .subscribe_text span {
        font-size: 50px;
        line-height: 60px;

    }

    .subcribe_input input {
        width: 100% !important;

    }

    .subcribe_input {
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 576px) {
    .galllery_hero-text h2 {
        font-size: 30px;
        line-height: 50px;

    }

    .galllery_hero {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .retalil-tab-text h2 {
        font-size: 30px;
        line-height: 40px;

    }

    .tab_img img {
        height: auto;
    }

    .tab_content_text h2 {
        font-size: 30px;
        line-height: 40px;

    }

    .subscribe_text h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
    }

    .subscribe_text span {
        font-size: 40px;
        line-height: 50px;
    }

    .subcribe_input input {
        width: 100% !important;

    }

    .subcribe_input {
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {



    .subscribe_form {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .subscribe_form button {
        margin-top: 10px;
    }
}
